body {
  padding: 0em;
  margin: 0em;
  cursor: url(billede/pokeball.png);
  background-color:  rgb(59, 59, 224);;
}

#background {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 10em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
  font-family: 'Pokemon Solid', sans-serif;
  color: #f5ed04;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

img {
  width: 100%;
  height: auto;
}

/* ---------- header styling ---------- */
header {
  background-color: var(--green);
  color: var(--text-color-light);
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgb(59, 59, 224);

}

/* ---------- main page styling ---------- */
main {
  background: var(--light-green);
  /* padding: 137px 0 0; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* ---------- grid item styling ---------- */

.grid-item {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5em;
  background-color: var(--white);
  cursor: pointer;
  text-align: center;
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 var(--green);
}

.grid-item img {
  width: 100%;
  height: 60%px;
  object-fit: cover;
}

.grid-item p {
  margin: 0.3em 0;
}

#close-btn {
  font-size: 1em;
  text-align: center;
  color: var(--text-color-light);
  background-color: var(--green);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 380px;
  display: grid;
  margin: auto;
}

.dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footprint {
  width: 3vw;
}

.pokemon-info-img {
  width: 100%;
}

#pokemon-info {
  width: 40vw;
}
footer {
  text-align: center;
  padding: 3px 0;
  color: #000000d6;
  text-shadow: 0px 3px 9px rgba(0, 0, 0, 1);
}
