body {
  padding: 0em;
  margin: 0em;
  background-color:  rgb(59, 59, 224);;
  text-align: center;
}

#background {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
  font-family: 'Pokemon Solid', sans-serif;
  color: #f5ed04;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

img {
  width: 100%;
  height: auto;
}

/* ---------- header styling ---------- */
header {
  background-color: var(--green);
  color: var(--text-color-light);
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgb(59, 59, 224);
  font-size: 3em;
  font-family: 'Pokemon Solid', sans-serif;
  color: #f5ed04;

}

/* ---------- main page styling ---------- */
main {
  background: var(--light-green);

}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  backdrop-filter: blur(5px);
  cursor: grab;
  gap: 1em;
  padding: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* ---------- grid item styling ---------- */

.grid-item {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5em;
  background-color: var(--white);
  cursor: pointer;
  text-align: center;
  background-color: transparent
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 var(--green);
  background-color: #f5ed04;
}

.grid-item img {
  width: 100%;
  height: 60%px;
  /* object-fit: cover; */
}

.grid-item p {
  margin: 0.3em 0;
}

button {
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  border:none;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 380px;
  
}

.dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footprint {
  width: 3vw;
}

.pokemon-info-img {
  width: 100%;
}
#pokemon-ul{
display: block;
margin-left: 40%;
top: 30%;
position:absolute

}

#pokemon-info {
  width: 10%;

}
#pokemon-details img{
  width: 50%;
  margin-right: 50%;

}

#pokemon-footprint {
  position: absolute;
  width: 2vw;
  right: 2vw;
  top: 2vw;
}

#pokemon-stats {
  position: absolute;
  top: 10vw;
  left: 25vw;
}

#pokemon-description {
  display: block;
  padding-top: 30vw;
}
footer {
  text-align: center;
  padding: 3px 0;
  color: #000000d6;
  text-shadow: 0px 3px 9px rgba(0, 0, 0, 1);
}
